# package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/
.vuepress/dist

# Compiled class file
*.class

# Log file
*.log

# Gradle Files
.gradle/
gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
/out/

.mvn
# ignore eclipse files
.project
.classpath
.settings
.metadata

# node modules
package-lock.json
yarn.lock
node_modules/

# MacOS folder file
.DS_Store

# 自定义文件
favicon.ico